@import "./../styles.scss";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');


.root__container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.5fr auto;
    position: relative;
    background: $black;
    font-family: $regular;
  }

  .main__container {
      max-width:50%;
      margin: auto;
  }
  
  /*
  ================
      Header
  ================
  */
  
  /*
      Slide Menu
  = = = = = = = = =
  */
  .side-menu__container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 25;
  }
  
  .side-menu__container-active {
    pointer-events: auto;
  }
  
  .side-menu__container::before {
    content: '';
    cursor: pointer;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $black;
    opacity: 0;
    transition: opacity 300ms linear;
    will-change: opacity;
  }
  
  .side-menu__container-active::before {
    opacity: 0.3;
  }
  
  .slide-menu {
    font-family: $regular;
    font-weight:300;
    transform: translateX(-103%);
    position: relative;
    opacity:0.8;
    top: 0;
    left: 0;    
    z-index: 10;
    height: 100%;
    width: 80%;
    max-width: 26rem;
    background-color: $dark-grey;
    box-shadow: 0 0 2rem $dark-grey;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.1fr 1fr;
    grid-gap: 1rem;
    transition: transform 150ms linear;
    will-change: transform;
  }

  .menu-button-container {
      width:100%;
  }

  .button-name {
      padding-left:3rem;
  }

  .menu-button-icon {
  }
  .menu-button {
    text-decoration: none;
    color:$white;
    text-align:left;
    margin-left:4rem;
    font-size:1.2rem;
    padding-top:0.2rem;
    padding-bottom:0.2rem;
    border-right: 0.2rem solid $light-red;
  }
  
  .slide-menu-active {
    transform: none;
  }
  
  .menu-header {
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 3fr 4fr;
    grid-template-areas: "greeting greeting" "image details";
    box-sizing: border-box;
    width: 100%;
    align-content: center;
    color: white;
    //box-shadow: 0 0.5rem 2rem $black;
  }
  
  .greeting__text {
    font-size: 1.25rem;
    margin-top: 1rem;
    text-align:center;
    width:100%;
    justify-self: center;
    align-self: center;
    color:$dark-red;
  }
  
  .account-details {
    grid-area: details;
    display: flex;
    flex-flow: column;
    align-self: center;
  }
  
  .name__text {
    font-size: 1.15rem;
    margin-bottom: 0.5rem;
  }
  
  .email__text {
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
  }
  
  .menu-body {
    display: grid;
    width: 100%;
  }
  
  .profile-image__container {
    grid-area: image;
    margin-right: 0.5rem;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    align-self: center;
    margin-left: 2rem;
  }
  
  .profile__image {
    max-width: 4rem;
  }
  
  .header-text{
    text-align:left;
    color:$light-red;
  }

  /*Header*/
  .main__header {
    width: 100%;
    display: grid;
    grid-template-columns: 0fr 0.03fr 0.25fr;
    grid-template-rows: 1fr;
    box-shadow: 0 0 2rem $black;
    height: 4rem;
    margin: 0;
    background-color: $black;
    align-items: center;
    transition: background-color 500ms linear;
    animation: 1s ease-in-out 0ms 1 fadein;
  }
  
  .toggle-button__container {
    cursor: pointer;
    position: relative;
    margin: 0 0.5rem;
  }
  
  /*Content*/
  .left__section {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    max-width: 5rem;
  }
  
  .date__text {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    display: inline;
    margin: 0.5rem 0;
  }
  
  /*SVGs*/
  .hamburger__icon {
    position: relative;
    z-index: 35;
    height: 1rem;
    padding: 0.5rem 1.5rem;
    margin-right: 1rem;
    cursor: pointer;
  }
  
  .logo__icon {
    height: 2.2rem;
    margin-left: 1rem;
  }
  
  .logo__text {
    fill: #2B244D;
  }
  
  .logo__text-dark {
    fill: #ffff;
  }
  
  .hamburger__icon__fill {
    fill: $white;
  }
  
  .hamburger__icon__fill-dark {
    fill: #ffff;
  }
  
  /*
  ================
      Body
  ================
  */
  
  .main-container__bg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    opacity: 0;
    background: white;
    transition: opacity 300ms linear;
  }
  
  .main-container__bg-dark {
    opacity: 1;
    background: linear-gradient(to bottom, #B290FF, #2E1D65);
    transition: opacity 300ms linear;
  }
  
  /*
  ================-
      Footer
  ================
  */
  .main__footer {
    background: transparent;
    position: absolute;
    bottom: 1rem;
    left: 1.5rem;
    z-index: 100;
  }
  
  .copyright__text {
    letter-spacing: 0.1rem;
    color: white;
  }
  
  @media only screen and (max-width: 300px) {
    .slide-menu {
      width: 100%;
    }
  }