
<div id="movie-details">
        <div class="movie-element">
                <img src="{{movieDetails['Poster']}}">
        </div>
    <div class="movie-element">
        <h1 class="movie-header">{{movieDetails['Title']}}</h1>
        <p class="movie-info">Released: {{movieDetails['Released']}}</p>
        <p class="movie-info">Genre: {{movieDetails['Genre']}}</p>

        <p class="movie-desc">{{movieDetails['Plot']}}</p>
        <p class="movie-desc">Actors: {{movieDetails['Actors']}}</p>
    </div>
    <div class="movie-element">
            <h1 class="movie-header movie-info IMDB-SCORE">IMDB Score: {{movieDetails['imdbRating']}}</h1>
            <h1 (click)="addToList(movieDetails['imdbID'], movieDetails['Title'], movieDetails['InPlaylist'])" class="movie-header movie-info PLAYLIST">{{movieDetails['InPlaylist'] ? "Remove from playlist" : "Add to playlist"}}</h1>
    </div>
     
</div>
