@import "../../styles.scss";

.page {
    width:100% !important;
    height: 50vh;
}
.popular-header {
    text-align:left;
    width: 100vw;
    color:$white;
    font-weight:400;
}
.popular-movies {
    height:100vh !important; 
}

section {
    position:relative;
}