<video ng-init="this.play()" id="background-image" #videoPlayer autoplay muted loop>
    <source src="../../assets/login.mp4" type="video/mp4">
    <source src="../../assets/login.ogv" type="video/ogg"/>   
    <source src="../../assets/login.webm" type="video/webm"/>
</video>
<div class="page" onload>
    
    <section id="home-header">
            <img src="../../assets/movieapptransparent.png">
        <h1 class="home-header home-header-big">See, create, watch<br><small class="home-header-hashtag">#movieapp</small></h1>
        <!--<video id="background-image" autoplay muted loop>
            <source src="../../assets/login.mp4" type="video/mp4">
                    <source src="../../assets/login.ogv" type="video/ogg"/>   
                    <source src="../../assets/login.webm" type="video/webm"/>
        </video>-->
        <p class="home-header home-header-small"><span style="color:rgb(138, 0, 0)">Create</span> your own playlist</p>
        <!--
        <iframe src="https://www.youtube.com/embed/rQb_YTLXvco" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
    </section>
    <section id="popular-movies">
            <h1 class="popular-header name-header">Welcome,{{ userDetails['name']}}</h1>       
    </section>
    <section id="popular-movies">
        <h1 class="popular-header">Marvel</h1>
        <app-suggested title='Marvel'></app-suggested>           
    </section>
    <section id="popular-movies">
        <h1 class="popular-header">Live long and prosper</h1>
        <app-suggested title='Star Trek'></app-suggested>           
    </section>
    <section id="popular-movies">
        <h1 class="popular-header">I am your father</h1>
        <app-suggested title='Star Wars'></app-suggested>           
    </section>
    <section id="popular-movies">
        <h1 class="popular-header">{{userDetails['name']}}'s playlist, shaken... not stirred.</h1>
        <app-playlist></app-playlist>     
    </section>
    <section id="popular-movies">
        <h1 class="popular-header">Popular movies</h1>
        <app-popular></app-popular>           
    </section>
</div>



