@import "../../styles.scss";

.page {
    width:100% !important;
    height: 50vh;
}
.popular-header {
    text-align:left;
    width: 100vw;
    color:$white;
    font-weight:400;
}
.popular-movies {
    height:100vh !important; 
}

section {
    position:relative;
}

#section-header {
    align-content:right;
    justify-content: right;
}

iframe {
    width:25vw;
    height:30vh;
}

@media only screen and (max-width: 1000px) {
    iframe {
        width:90vw;
    }
}

img {
    width:20vw; 
}