<div class="page">
        <iframe src="https://www.youtube.com/embed/rQb_YTLXvco" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <section id="popular-movies">
        <h1 class="popular-header">Popular movies</h1>
        <app-popular></app-popular>
        
    </section>
    <section id="popular-movies">
            <h1 class="popular-header">Popular movies</h1>
            <app-popular></app-popular>
            
        </section>
</div>



